
!docker-compose.yml
!Dockerfile
!servers.json.example
!addons/
!requirements.txt

.vscode/
.env
backups
odoo.conf
pgadmin-servers.json
postgresql
pgadmindata/
**/__pycache__/
*.py[cod]